div {
    text-align: center;
    color: white;
}

#Button1 {
    background-color: green;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
}

#Button2 {
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
}

h1 {
    text-align: center;
    color: white;
}

#buttons {
    text-align: center;
}

img {
    height: 250px;
}

.container {
    background: orange;
    height: 827px;
}

body {
    background-color: brown;
}